{{ define "main" }}
  <form action="/tarantula/create" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}" />
    <div>
      <label>Species:</label>
      {{ with .Form.FieldErrors.species }}
        <label class="error">{{ . }}</label>
      {{ end }}
      <input type="text" name="species" value="{{ .Form.Species }}" />
    </div>
    <div>
      <label>Name:</label>
      {{ with .Form.FieldErrors.name }}
        <label class="error">{{ . }}</label>
      {{ end }}
      <input type="text" name="name" value="{{ .Form.Name }}" />
    </div>
    <div>
      <label>Feeding interval (days):</label>
      {{ with .Form.FieldErrors.feed_interval_days }}
        <label class="error">{{ . }}</label>
      {{ end }}
      <input
        type="number"
        name="feed_interval_days"
        value="{{ .Form.Feed_Interval_Days }}"
      />
    </div>
    <div>
      <label>Notify:</label>
      {{ with .Form.FieldErrors.notify }}
        <label class="error">{{ . }}</label>
      {{ end }}
      <input
        type="radio"
        name="notify"
        value="true"
        {{ if (eq .Form.Notify true) }}checked{{ end }}
      />
      Yes
      <input
        type="radio"
        name="notify"
        value="false"
        {{ if (eq .Form.Notify false) }}checked{{ end }}
      />
      No
    </div>
    <input
      type="file"
      id="tarantulaImage"
      name="tarantula_image"
      accept="image/png, image/jpeg"
    />
    <div>
      <input type="submit" value="Add Tarantula" />
    </div>
  </form>
{{ end }}
{{ define "script" }}
  <script src="/static/js/create.js" type="text/javascript"></script>
{{ end }}
